/* 
  font-family: "Outfit", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
*/

:root {
  --font-primary: "Outfit", sans-serif;
  --font-secondary: "Poppins", sans-serif;
  --primary-color: #E52333;
  --black-color: #1f2937;
  --sub-gray: #4b5563;
  --white-color: #ffffff;
}

a {
  text-decoration: none;
}

.highlighter {
  color: var(--primary-color);
}

* {
  margin: 0%;
  padding: 0%;
  font-family: var(--font-primary);
  box-sizing: border-box;
  color: var(--black-color);
}


/* NavBar */
/* ============================================================================ */
.navbar {
  background: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.navbar .logo-image {
  width: 140px;
}

/* Nav-Btn */
.navbar .nav-btn-demo {
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.5px;
  border: 2px solid var(--primary-color);
  transition: all 0.3s ease-in-out;
}

.navbar .nav-btn-demo:hover {
  background-color: var(--primary-color);
  color: var(--white-color);
  cursor: pointer;
}

.navbar .btn-demo {
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.5px;
  border: 2px solid var(--primary-color);
  transition: all 0.3s ease-in-out;
}

.navbar .btn-demo:hover {
  background-color: var(--primary-color);
  color: var(--white-color);
  cursor: pointer;
}

/* navbar-toggler-icon */
/* =============================== */
.navbar-toggler {
  border: none;
  background: transparent;
  padding: 0;
  outline: none;
}

.navbar-toggler:focus,
.navbar-toggler:active {
  outline: none;
  box-shadow: none;
}

.navbar-toggler .navbar-toggler-icon {
  color: red;
  background-color: red;
}

.navbar-toggler .navbar-toggler-icon {
  color: red;
  font-size: 22px;
}

.navbar-toggler-icon {
  background-image: none;
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  background-color: red;
  mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba%280, 0, 0, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba%280, 0, 0, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/* Menu */
/* link with dropdown */
.navbar-nav .nav-item .main-link:hover {
  color: var(--primary-color);
}

.navbar-nav .nav-item .main-link:hover i {
  color: var(--primary-color);
  transition: color 0.3s ease-in-out;
}

/* link without dropdown */
.navbar-nav .navigation-link {
  font-size: 17px;
  color: var(--black-color);
  transition: all 0.3s ease-in-out;
}

.navbar-nav .navigation-link:hover {
  color: var(--primary-color);
}

.navbar-nav .dropdown-menu {
  display: none;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  z-index: 1000;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  border: none;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2),
    inset 0 4px 6px rgba(255, 255, 255, 0.2);
}

/* enabling the drop down on the hover */
@media (min-width: 769px) {
  .navbar-nav .nav-item:hover .dropdown-menu {
    display: block;
    visibility: visible;
    opacity: 1;
  }
}

/* enable the dropn down on the click */
@media (max-width: 768px) {
  .navbar-nav .dropdown-menu {
    display: none;
    position: static;
    opacity: 1;
    visibility: visible;
    width: 100%;
  }

  .navbar-nav .dropdown-menu.show {
    display: block;
  }
}

.navbar-nav .dropdown-item {
  font-size: 16px;
  transition: all 0.2s ease-in-out;
  border-radius: 7px;
  padding: 8px 12px;
}

.navbar-nav .dropdown-item:hover {
  background-color: #faf0f0;
}

/* drop-down item list */
.navbar-nav .dropdown-item span {
  transition: all 0.2s ease-in-out;
}

.navbar-nav .dropdown-item:hover span {
  color: var(--primary-color);
}

/* drop-down Arrow Right fa-arrow-right */
.navbar-nav .dropdown-item .fa-arrow-right {
  opacity: 0;
  visibility: hidden;
  transform: translateX(-5px);
  transition: all 0.2s ease;
}

.navbar-nav .dropdown-item:hover .fa-arrow-right {
  opacity: 1;
  visibility: visible;
  transform: translateX(0px);
}

/* drop-down item icon list */
.navbar-nav .dropdown-item span i {
  transition: all 0.2s ease-in-out;
}

.navbar-nav .dropdown-item:hover span i {
  color: var(--primary-color);
}

/* Media Query - NavBar */
/* ============================================================================ */
@media screen and (max-width: 992px) {
  .navbar .btn-demo {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .navbar .navbar-container {
    padding: 0 8px;
  }
}


@media screen and (max-width: 576px) {
  .navbar .logo-image {
    width: 115px;
  }

  .navbar-nav .navigation-link {
    font-size: 16px;
  }
}


/* Banner */
/* ============================================================================ */
.banner-wrapper {
  margin-top: 100px;
  width: 100%;
  height: 80vh;
}

.banner-wrapper .banner-container {
  position: relative;
  box-sizing: border-box;
}

.banner-wrapper .typing-section {
  align-items: center;
  font-family: 'Arial', sans-serif;
  font-size: 2rem;
  color: var(--white-color);
  display: inline-flex;
  /* display: flex; */
  align-items: center;
  margin-bottom: 4px;
  background: var(--black-color);
  border-radius: 10px;
}

.banner-wrapper .emoji {
  margin-right: 7px;
}

.banner-wrapper .typing-text {
  position: relative;
  white-space: nowrap;
}

.banner-wrapper .static-text {
  font-size: 32px;
  font-weight: bold;
  color: var(--white-color);
}

.banner-wrapper .cursor {
  display: inline-block;
  width: 2px;
  background: #ccc;
  margin-left: 3px;
  animation: blink 0.7s steps(2, start) infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.banner-wrapper .hero-title {
  font-family: var(--font-primary);
  font-size: 48px;
  font-weight: 500;
  margin-bottom: 16px;
  word-spacing: 5px;
}

.banner-wrapper .hero-paragraph {
  font-family: var(--font-secondary);
  color: var(--sub-gray);
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 40px;
  line-height: 28px;
  padding: 0 5px;
}

.banner-wrapper .primary-btn {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.5px;
  background: var(--primary-color);
  color: var(--white-color);
  transition: all 0.3s ease-in-out;
}

.banner-wrapper .primary-btn:hover {
  background-color: #98131e;
  color: var(--white-color);
  cursor: pointer;
}

.banner-wrapper .image-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-wrapper .image-section .img-fluid {
  box-shadow: inset 0 4px 8px rgba(255, 255, 255, 0.9)
}

.banner-wrapper .banner-shadow-1 {
  position: absolute;
  top: -15%;
  left: -17%;
  width: 300px;
  height: 300px;
  background-color: var(--primary-color);
  border-radius: 50%;
  z-index: -1;
  filter: blur(180px);
  overflow: hidden;
}

.banner-wrapper .banner-shadow-2 {
  position: absolute;
  bottom: 15%;
  right: 0%;
  width: 150px;
  height: 150px;
  background-color: var(--primary-color);
  border-radius: 50%;
  z-index: -1;
  filter: blur(180px);
  overflow: hidden;
}

/* Media Query - Banner */
/* ============================================================================ */
@media screen and (max-width: 1400px) {
  .banner-wrapper .hero-title {
    font-size: 44px;
  }
}

@media screen and (max-width: 992px) {
  .banner-wrapper {
    height: auto;
  }

  .banner-wrapper .hero-title {
    font-size: 40px;
  }

  .banner-shadow-2 {
    bottom: 0%;
  }
}

@media screen and (max-width: 768px) {
  .banner-wrapper .static-text {
    font-size: 28px;
  }

  .banner-wrapper .hero-title {
    font-size: 32px;
  }

  .banner-wrapper .hero-paragraph {
    margin-bottom: 32px;
  }

  .banner-shadow-1 {
    top: -20%;
    left: -15%;
  }

  .banner-shadow-2 {
    bottom: 0%;
  }
}

@media screen and (max-width: 576px) {
  .banner-wrapper {
    margin-top: 70px;
    height: auto;
  }

  .banner-wrapper .static-text {
    font-size: 24px;
  }

  .banner-wrapper .hero-paragraph {
    font-size: 17px;
  }

  .banner-wrapper .banner-shadow-1 {
    width: 200px;
    height: 200px;
    top: -5%;
    left: -10%;
  }

  .banner-wrapper .banner-shadow-2 {
    bottom: 0%;
    width: 150px;
    height: 150px;
  }
}


/* Features */
/* ============================================================================ */
.features-wrapper {
  width: 100%;
  position: relative;
}

.features-wrapper .features-outer-container {
  padding-top: 45px;
  padding-bottom: 60px;
}

.features-wrapper .section-heading {
  font-family: var(--font-primary);
  font-size: 48px;
  font-weight: 500;
  word-spacing: 5px;
}

.features-wrapper .section-desc {
  font-family: var(--font-secondary);
  color: var(--primary-color);
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 400;
}

.features-wrapper .row .card {
  border: none;
  transition: all 0.5s ease;
  margin-bottom: 10px;
}

.features-wrapper .row .card .feature-image img {
  border-radius: 10px;
}

.features-wrapper .row .card .card-body {
  padding: 16px 8px;
}

.features-wrapper .row .card .card-body .feature-name,
.features-wrapper .row .card .card-body i {
  transition: color 0.3s ease;
}

.features-wrapper .row .card .card-body a:hover .feature-name,
.features-wrapper .row .card .card-body a:hover i {
  color: var(--primary-color);
}

.features-wrapper .row .card .card-body a:hover {
  transform: scale(1.01);
  transition: transform 0.3s ease;
  cursor: pointer;
}


.features-wrapper .feature-name {
  font-size: 18px;
}

.features-wrapper .box-shadow-1 {
  position: absolute;
  top: 0%;
  left: -10%;
  width: 250px;
  height: 250px;
  background-color: var(--primary-color);
  border-radius: 50%;
  z-index: -1;
  filter: blur(250px);
  overflow: hidden;
}

.features-wrapper .box-shadow-2 {
  position: absolute;
  bottom: 0%;
  right: 0%;
  width: 200px;
  height: 200px;
  background-color: var(--primary-color);
  border-radius: 50%;
  z-index: -1;
  filter: blur(250px);
  overflow: hidden;
}


/* Media Query - Features */
/* ============================================================================ */
@media screen and (max-width: 1400px) {
  .features-wrapper .section-heading {
    font-size: 44px;
  }
}

@media screen and (max-width: 992px) {
  .features-wrapper .section-heading {
    font-size: 40px;
  }
}

@media screen and (max-width: 768px) {
  .features-wrapper .section-heading {
    font-size: 32px;
  }
}

@media screen and (max-width: 576px) {
  .features-wrapper .features-outer-container {
    padding-bottom: 45px;
  }

  .features-wrapper .section-desc {
    font-size: 17px;
  }

  .features-wrapper .box-shadow-1 {
    width: 200px;
    height: 200px;
  }

  .features-wrapper .banner-shadow-1 {
    width: 50px;
    height: 50px;
    top: -5%;
    left: -10%;
  }

  .features-wrapper .box-shadow-2 {
    width: 180px;
    height: 180px;
  }
}


/* Industries */
/* ============================================================================ */
.industry-wrapper {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.industry-wrapper .industry-container {
  padding-top: 40px;
  padding-bottom: 40px;
  position: relative;
  box-sizing: border-box;
}

.industry-wrapper .section-heading {
  font-family: var(--font-primary);
  font-size: 48px;
  font-weight: 500;
  word-spacing: 5px;
}

.industry-wrapper .section-desc {
  font-family: var(--font-secondary);
  color: var(--primary-color);
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 400;
}

.industry-wrapper .industry-container .row .card {
  /* min-height: 425px; */
  margin-bottom: 20px;
  border-radius: 8px;
  border: none;
  background: (255, 255, 255, 0.2);
  box-shadow: inset 0 4px 8px rgba(255, 255, 255, 0.2),
    0 8px 16px rgba(0, 0, 0, 0.2);
}

.industry-wrapper .industry-container .row .card img {
  border-radius: 10px;
}

.industry-wrapper .industry-container .row .card .card-body {
  padding: 12px;
}

.industry-wrapper .industry-name {
  font-family: var(--font-primary);
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 8px;
}

.industry-wrapper .industry-content a i {
  font-size: 20px;
}

.industry-wrapper .industry-content .industry-name,
.industry-wrapper .industry-content i {
  transition: color 0.3s ease;
}

.industry-wrapper .industry-content a{
  transform: scale(1);
}

.industry-wrapper .industry-content a:hover .industry-name,
.industry-wrapper .industry-content a:hover i {
  color: var(--primary-color);
}

.industry-wrapper .industry-content a:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
  cursor: pointer;
}

.industry-wrapper .industry-desc {
  font-family: var(--font-secondary);
  color: var(--sub-gray);
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}

.industry-wrapper .add-content{
  padding: 0 16px;
}
.industry-wrapper .add-content .title{
  color: var(--black-color);
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 16px;
  text-align: center;
}
.industry-wrapper .add-content .text-container{
  margin-bottom: 16px;
}
.industry-wrapper .add-content .text-container .text{
  color: var(--sub-gray);
  font-size: 18px;
  font-weight: 400;
  line-height: 2;
  text-align: center;
}

.industry-wrapper .banner-shadow-1 {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 220px;
  height: 220px;
  background-color: var(--primary-color);
  border-radius: 50%;
  z-index: -1;
  filter: blur(270px);
  overflow: hidden;
}


/* Media Query - Industries */
/* ============================================================================ */
@media screen and (max-width: 1400px) {
  .industry-wrapper .section-heading {
    font-size: 44px;
  }
}

@media screen and (max-width: 992px) {
  .industry-wrapper .section-heading {
    font-size: 40px;
  }
  .industry-wrapper .add-content{
    padding: 0px;
  }
}

@media screen and (max-width: 768px) {
  .industry-wrapper .section-heading {
    font-size: 32px;
  }

  .industry-wrapper .industry-container .row .card {
    margin-bottom: 15px;
  }

  .industry-wrapper .add-content .text-container .text{
    line-height: 1.8;
  }
  .industry-wrapper .add-content .title{
    font-size: 28px;
  }
}

@media screen and (max-width: 576px) {
  .industry-wrapper {
    margin-top: 10px;
  }

  .industry-wrapper .section-desc {
    font-size: 17px;
  }

  .industry-wrapper .industry-container .row .card .card-body {
    padding-bottom: 16px;
  }

  .industry-wrapper .section-container{
    padding: 0px 5px;
  }

  .industry-wrapper .industry-container{
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .industry-wrapper .add-content .text-container .text{
    font-size: 16px;
  }

  .industry-wrapper .add-content .title{
    font-size: 24px;
  }

  .industry-wrapper .banner-shadow-1 {
    width: 200px;
    height: 200px;
  }
  .industry-wrapper .industry-name{
    font-size: 17px;
  }
  .industry-wrapper .industry-content{
    font-size: 17px;
  }
  .industry-wrapper .section{
    padding-left: 6px;
    padding-right: 6px;
  }
}


/* Achievements */
/* ============================================================================ */
.Achievement-wrapper {
  width: 100%;
  /* background-color: #efeff1; */
}

.Achievement-wrapper .Achievement-container {
  padding-top: 60px;
  padding-bottom: 50px;
}

.Achievement-wrapper .section-heading {
  font-family: var(--font-primary);
  font-size: 48px;
  font-weight: 500;
  word-spacing: 5px;
}

.Achievement-wrapper .section-desc {
  font-family: var(--font-secondary);
  color: var(--primary-color);
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 400;
}

.Achievement-wrapper .Achievement-container .image-section .img-fluid {
  box-shadow: inset 0 4px 8px rgba(255, 255, 255, 0.009),
    0 8px 16px rgba(0, 0, 0, 0.2);
}

.Achievement-wrapper .content-section .content {
  margin-bottom: 26px;
}

.Achievement-wrapper .content-section .content .achievement-count {
  font-family: var(--font-primary);
  font-size: 42px;
  font-weight: 500;
  word-spacing: 5px;
}

.Achievement-wrapper .content-section .content .achievement-content {
  font-family: var(--font-secondary);
  color: var(--sub-gray);
  font-size: 18px;
  font-weight: 500;
}

.Achievement-wrapper .Achievement-container .content-section {
  position: relative;
}

.Achievement-wrapper .Achievement-container .content-section .banner-shadow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 200px;
  background: var(--primary-color);
  border-radius: 50%;
  z-index: -1;
  filter: blur(200px);
  overflow: hidden;
}

/* Media Query - Achievements */
/* ============================================================================ */
@media screen and (max-width: 1400px) {
  .Achievement-wrapper .section-heading {
    font-size: 44px;
  }
}

@media screen and (max-width: 992px) {
  .Achievement-wrapper .section-heading {
    font-size: 40px;
  }
}

@media screen and (max-width: 768px) {
  .Achievement-wrapper .section-heading {
    font-size: 32px;
  }

  .Achievement-wrapper .content-section .content .achievement-count {
    font-size: 40px;
  }
}

@media screen and (max-width: 576px) {
  .Achievement-wrapper .section-desc {
    font-size: 17px;
  }

  .Achievement-wrapper .Achievement-container .content-section .banner-shadow {
    filter: blur(120px);
  }

  .Achievement-wrapper .content-section .content .achievement-count {
    font-size: 36px;
  }

  .Achievement-wrapper .content-section .content .achievement-content {
    font-size: 16px;
  }

  .Achievement-wrapper .Achievement-container .content-section .banner-shadow {
    width: 120px;
    height: 120px;
  }
}


/* Solutions */
/* ============================================================================ */
.solution-wrapper {
  width: 100%;
}

.solution-wrapper .solution-container {
  padding-top: 60px;
  padding-bottom: 60px;
}

.solution-wrapper .section-heading {
  font-family: var(--font-primary);
  font-size: 48px;
  font-weight: 500;
  word-spacing: 5px;
}

.solution-wrapper .section-desc {
  font-family: var(--font-secondary);
  color: var(--primary-color);
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 400;
}

.solution-wrapper .content-section .content-heading .heading {
  font-size: 32px;
  font-family: var(--font-primary);
  color: var(--primary-color);
}

.solution-wrapper .content-section .content-heading .desc {
  font-size: 18px;
  font-family: var(--font-secondary);
  font-weight: 300;
}

.solution-wrapper .solution-card {
  transition: all 0.3s ease-in-out;
  padding: 12px 10px 14px 8px;
  border-radius: 10px;
}

.solution-wrapper .solution-card:hover {
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2),
    inset 0 4px 6px rgba(255, 255, 255, 0.2);
  outline: 1px solid #1f2937;
}

.solution-wrapper .solution-card .solution-icon {
  transition: all 0.2s ease-in-out;
  background: #efeff1;
  padding: 10px;
  border-radius: 50%;
}

.solution-wrapper .solution-title .solution-type {
  font-family: var(--font-primary);
  font-size: 28px;
}

.solution-wrapper .solution-text .solutions {
  font-family: var(--font-secondary);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
}

.solution-wrapper .solution-card:hover .solution-icon {
  color: #E52333;
}

.solution-wrapper .solution-card .fa-arrow-right {
  opacity: 0;
  visibility: hidden;
  transform: translateX(-10px);
  transition: all 0.4s ease-in-out;
}

.solution-wrapper .solution-card:hover .fa-arrow-right {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}

.solution-wrapper .fa-circle-check {
  color: #E52333;
}

.solution-wrapper .row .content-section {
  position: relative;
}

.solution-wrapper .row .content-section .banner-shadow {
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
  width: 210px;
  height: 210px;
  background-color: var(--primary-color);
  border-radius: 50%;
  z-index: -1;
  filter: blur(200px);
  overflow: hidden;
}


/* Media Query - Solutions */
/* ============================================================================ */
@media screen and (max-width: 1400px) {
  .solution-wrapper .section-heading {
    font-size: 44px;
  }
}

@media screen and (max-width: 992px) {
  .solution-wrapper .section-heading {
    font-size: 40px;
  }
}

@media screen and (max-width: 768px) {
  .solution-wrapper .section-heading {
    font-size: 32px;
  }

  .solution-wrapper .solution-title .solution-type {
    font-size: 24px;
  }

  .solution-wrapper .content-section .content-heading .heading {
    font-size: 28px;
  }
}

@media screen and (max-width: 576px) {
  .solution-wrapper .solution-container {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .solution-wrapper .section-desc {
    font-size: 17px;
  }

  .solution-wrapper .content-section .content-heading .heading {
    font-size: 24px;
  }

  .solution-wrapper .content-section .content-heading .desc {
    font-size: 16px;
  }

  .solution-wrapper .solution-title .solution-type {
    font-size: 22px;
  }

  .solution-wrapper .solution-text .solutions {
    font-size: 14px
  }

  .solution-wrapper .row .content-section .banner-shadow {
    width: 170px;
    height: 170px;
    filter: blur(150px);
  }
}


/* Request Demo */
/* ============================================================================ */
.requestDemo-Wrapper {
  width: 100%;
  background: #000;
}

.requestDemo-Wrapper .requestDemo-container {
  padding: 90px 0;
}

.requestDemo-Wrapper h1 {
  font-size: 50px;
  color: var(--white-color);
}

.requestDemo-Wrapper p {
  font-size: 20px;
  color: var(--primary-color);
  margin-bottom: 30px;
}

.requestDemo-Wrapper a {
  background-color: var(--white-color);
  color: var(--black-color);
  padding: 10px 12px;
  border-radius: 5px;
  font-size: 16px;
  transition: all 0.2s ease-in-out;
}

.requestDemo-Wrapper a:hover {
  background: var(--primary-color);
  color: #efeff1;
}


/* Request Demo - Media Query*/
/* ============================================================================ */
@media screen and (max-width: 1400px) {}

@media screen and (max-width: 992px) {}

@media screen and (max-width: 768px) {
  .requestDemo-Wrapper .requestDemo-container {
    padding: 50px 0;
  }

  .requestDemo-Wrapper h1 {
    font-size: 36px;
  }

  .requestDemo-Wrapper p {
    font-size: 18px;
  }
}

@media screen and (max-width: 576px) {
  .requestDemo-Wrapper h1 {
    font-size: 26px;
  }

  .requestDemo-Wrapper p {
    font-size: 17px;
  }

  .requestDemo-Wrapper a {
    font-size: 14px;
  }
}


/* Logo-Slider */
/* ============================================================================ */
@keyframes slide {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

.brand-wrapper {
  width: 100%;
}

.brand-wrapper .brand-container {
  padding: 30px 0;
}

.brand-wrapper .section-heading {
  text-transform: capitalize;
  font-family: var(--font-primary);
  font-size: 40px;
  font-weight: 500;
  word-spacing: 5px;
}

.brand-wrapper .section-desc {
  font-family: var(--font-secondary);
  color: var(--sub-gray);
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 400;
}

.brand-wrapper .logos {
  overflow: hidden;
  padding: 50px 0;
  border-radius: 20px;
  background: transparent;
  white-space: nowrap;
  position: relative;
}

.brand-wrapper .logos:before,
.brand-wrapper .logos:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}

.brand-wrapper .logos:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0) 80%, white);
}

.brand-wrapper .logos:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 80%, white);
}

.brand-wrapper .logos:hover .logos-slide {
  animation-play-state: paused;
}

.brand-wrapper .logos-slide {
  display: inline-block;
  animation: 25s slide infinite linear;
}

.brand-wrapper .logos-slide img {
  height: 80px;
  margin: 0 40px;
  vertical-align: middle;
}


/* Media Query - Logo-Slider */
/* ============================================================================ */
@media screen and (max-width: 1400px) {}

@media screen and (max-width: 992px) {}

@media screen and (max-width: 768px) {
  .brand-wrapper .section-heading {
    font-size: 32px;
  }

  .brand-wrapper .logos-slide img {
    margin: 0px 30px;
  }
}

@media screen and (max-width: 576px) {
  .brand-wrapper .section-heading {
    font-size: 24px;
  }

  .brand-wrapper .section-desc {
    font-size: 17px;
  }

}


/* Testimonial */
/* ============================================================================ */

.Testimonial-wrapper {
  width: 100%;
}

.Testimonial-wrapper .Testimonial-container {
  padding-top: 60px;
  padding-bottom: 60px;
}

.Testimonial-wrapper .section-heading {
  text-transform: capitalize;
  font-family: var(--font-primary);
  font-size: 40px;
  font-weight: 500;
  word-spacing: 5px;
}

.Testimonial-wrapper .section-desc {
  font-family: var(--font-secondary);
  color: var(--sub-gray);
  font-size: 18px;
  font-weight: 400;
  color: var(--primary-color);
}

.Testimonial-wrapper .testimonial-card {
  border: 1px solid var(--black-color);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2),
    inset 0 4px 6px rgba(255, 255, 255, 0.2);
}

.Testimonial-wrapper .testimonial-card .testimonial-image {
  width: 50px;
  height: 50px;
  background-color: #E52333;
  border-radius: 50%;
}

.Testimonial-wrapper .testimonial-card .testimonial-name-stars {
  margin-left: 16px;
}

.Testimonial-wrapper .testimonial-card .testimonial-name-stars .name {
  font-family: var(--font-primary);
  font-size: 20px;
  margin: 0%;
  margin-top: 5px;
}

.Testimonial-wrapper .testimonial-card .testimonial-name-stars .stars {
  font-size: 18px;
  margin: 0%;
  margin-bottom: 5px;
  text-align: left;
}

.Testimonial-wrapper .testimonial-card .testimonial-body {
  font-size: 17px;
}

.Testimonial-wrapper .testimonial-card .quote-icon .fa-quote-right {
  font-size: 25px;
}


/* Media Query - Testimonial */
/* ============================================================================ */
@media screen and (max-width: 1400px) {
  .Testimonial-wrapper .section-heading {
    font-size: 44px;
  }
}

@media screen and (max-width: 992px) {
  .Testimonial-wrapper .section-heading {
    font-size: 40px;
  }
}

@media screen and (max-width: 768px) {
  .Testimonial-wrapper .section-heading {
    font-size: 32px;
  }
}

@media screen and (max-width: 576px) {
  .Testimonial-wrapper .section-desc {
    font-size: 17px;
  }

  .Testimonial-wrapper .testimonial-card .testimonial-body {
    font-size: 16px;
  }
}


/* Footer */
/* =============================================================== */
.footer-wrapper {
  width: 100%;
  background: #000;
}

.footer-wrapper .footer-container {
  padding: 60px 0px;
}

.footer-wrapper .section-heading {
  color: #efeff1;
  font-family: var(--font-primary);
  font-size: 40px;
  font-weight: 500;
  word-spacing: 5px;
}

.footer-wrapper .links {
  padding: 0 16px;
}

.footer-wrapper .links .link-heading {
  font-family: var(--font-secondary);
  color: #98D8EF;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 12px;
}

.footer-wrapper .links .link {
  font-size: 16px;
  list-style: none;
}

.footer-wrapper .links .link a {
  transition: all 0.2s ease-in-out;
  color: #efeff1;
}

.footer-wrapper .links .link a:hover {
  color: var(--primary-color);
}

.footer-wrapper .links .link i {
  transition: all 0.2s ease-in-out;
  color: #efeff1;
}

.footer-wrapper .links .link a:hover i {
  color: var(--primary-color);
}


/* Media Query - Footer */
/* =============================================================== */
@media screen and (max-width: 992px) {
  .footer-wrapper .section-heading {
    font-size: 40px;
  }
}

@media screen and (max-width: 768px) {
  .footer-wrapper .section-heading {
    font-size: 32px;
  }
}

@media screen and (max-width: 576px) {
  .footer-wrapper .footer-container {
    padding: 30px 0px;
  }

  .footer-wrapper .section-desc {
    font-size: 17px;
  }

  .footer-wrapper .links {
    padding: 0 14px;
  }
}


/* Powered By */
/* =============================================================== */
.Powered-wrapper {
  width: 100%;
}

.Powered-wrapper .Powered-container {
  margin-top: 20px;
}

.Powered-wrapper .contact-info {
  padding: 40px 0;
}

.Powered-wrapper .info {
  text-align: center;
  margin-bottom: 30px;
}

.Powered-wrapper .info i {
  font-size: 30px;
  color: var(--primary-color);
}

.Powered-wrapper .info p {
  font-size: 20px;
  padding: 0%;
  margin-bottom: 8px;
}

.Powered-wrapper .info a {
  color: var(--black-color);
  transition: all 0.3s ease-in-out;
}

.Powered-wrapper .info a:hover {
  color: var(--primary-color);
}

.Powered-wrapper .newsletter {
  display: flex;
  align-items: center;
  border: 1px solid #333;
  border-radius: 25px;
  overflow: hidden;
  width: 95%;
  max-width: 300px;
  margin: 0 auto;
}

.Powered-wrapper .newsletter input {
  flex: 1;
  min-width: 0;
  padding: 10px;
  border: none;
  outline: none;
  font-size: 16px;
}

.Powered-wrapper .newsletter button {
  background-color: #333;
  color: white;
  border: none;
  padding: 15px 15px;
  /* border-top-left-radius: 10px;
  border-bottom-left-radius: 10px; */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  min-width: 40px;
}

.Powered-wrapper .newsletter button i {
  font-size: 16px !important;
}

.Powered-wrapper .newsletter button:hover {
  background-color: #1f2937;
}

.Powered-wrapper .logo-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Powered-wrapper .logo-container::after {
  content: "";
  display: inline-block;
  width: 90px;
  height: 3px;
  background-color: var(--primary-color);
  position: relative;
  top: -5px;
  margin-left: 20px;
}

.Powered-wrapper .logo-container::before {
  content: "";
  display: inline-block;
  width: 90px;
  height: 3px;
  background-color: var(--primary-color);
  position: relative;
  top: -5px;
  margin-right: 20px;
}

.Powered-wrapper .logo-container img {
  width: 150px;
}

.Powered-wrapper .social-media-icon a i {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

.Powered-wrapper .social-media-icon a i:hover {
  color: var(--primary-color);
}

.Powered-wrapper .copy-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
}

.Powered-wrapper .copy-right .p1 {
  padding: 0 10px;
}

.Powered-wrapper .copy-right .p1 a {
  color: var(--black-color);
  transition: all 0.2s ease-in-out;
}

.Powered-wrapper .copy-right .p1 a:hover {
  cursor: pointer;
  color: var(--primary-color);
}

/* Media Query - Powered By */
/* =============================================================== */
@media screen and (max-width: 992px) {}

@media screen and (max-width: 768px) {
  .Powered-wrapper .copy-right {
    flex-direction: column;
  }

  .Powered-wrapper .copy-right .copy {
    padding-bottom: 8px;
  }
}

@media screen and (max-width: 576px) {
  .Powered-wrapper .logo-container img {
    width: 115px;
  }

  .Powered-wrapper .logo-container::after,
  .Powered-wrapper .logo-container::before {
    width: 70px;
  }

  .Powered-wrapper .copy-right {
    padding: 15px 10px;
  }

  .Powered-wrapper .copy-right .p1 {
    padding: 0 3px;
  }
}


/* Page-Up */
/* =============================================================== */
.page-up {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transform: translateY(50px);
  border-radius: 50%;
  background-color: var(--black-color); 
  color: var(--white-color);
  cursor: pointer;
  z-index: 9999;
  transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
}

.page-up.show {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

.fa-angle-up {
  color: var(--white-color);
}


/* Media Query - Page-Up */
/* =============================================================== */
@media screen and (max-width: 992px){
  .page-up {
    width: 40px;
    height: 40px;
  }
}
@media screen and (max-width: 768px){}
@media screen and (max-width: 576px){
  .page-up {
    bottom: 10px;
    right: 10px;
    width: 35px;
    height: 35px;
    font-size: 12px;
  }
}


/* Chat-Bot */
/* =============================================================== */
/* Chatbot Container */
.chatbot-container {
  position: fixed;
  bottom: 75px;
  right: 20px;
  z-index: 1001;
}

.chatbot-toggle {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--white-color);
  color: var(--white-color);
  border: none;
  cursor: pointer;
  font-size: 20px;
  box-shadow: 3px 8px 12px rgba(0, 0, 0, 0.2);
  transition: all 0.4s ease-in-out;
  opacity: 0; 
  transform: scale(0.5);
}

.chatbot-window {
  width: 300px;
  background: var(--white-color);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  position: absolute;
  bottom: 60px;
  right: 0;
  display: none;
  flex-direction: column;
  border-radius: 15px;
  overflow: hidden;
}

/* Chatbot Header */
.chatbot-header {
  background: var(--black-color);
  opacity: 0.9;
  color: white;
  padding: 10px 12px;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
}

.chatbot-header span{
  color: var(--white-color);
  font-size: 17px;
}

.chatbot-header .chatbot-close{
  color: var(--white-color);
  font-size: 24px;
  cursor: pointer;
  background: none;
  border: none;
}

/* Chatbot-Message Container */
.chatbot-messages {
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 10px;
  display: flex;
  flex-direction: column;
  scrollbar-width: none; 
}

.chatbot-messages::-webkit-scrollbar {
  display: none; 
}

/* Chatbot-Messages */
.chatbot-message {
  padding: 5px 10px;
  margin: 4px;
  border-radius: 10px;
  font-size: 14px;
  max-width: 80%;
}

/* User Messages */
.chatbot-message.user {
  background: var(--primary-color);
  color: white;
  align-self: flex-end;
}

/* Bot Messages */
.chatbot-message.bot {
  background: #f1f1f1;
  color: black;
  align-self: flex-start;
}

/* Chat Input and Send Button */
.chatbot-footer {
  display: flex;
  border-top: 1.5px solid #ddd;
}

.chatbot-input {
  flex: 1;
  padding: 9px 12px;
  border: none;
}
.chatbot-input:focus{
  outline: none;
  border: none;
}

.chatbot-send {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  color: white;
  border: none;
  padding: 8px 14px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.chatbot-send i{
  color: var(--black-color);
  transition: all 0.3s ease-in-out;
}

.chatbot-send:hover i{
  color: var(--primary-color);
}


/* Media Query - Chat-Bot */
/* =============================================================== */
@media screen and (max-width: 992px){
  .chatbot-toggle {
    width: 40px;
    height: 40px;
  }
}
@media screen and (max-width: 768px){}
@media screen and (max-width: 576px){
  .chatbot-toggle {
    bottom: 10px;
    right: 0px;
    width: 35px;
    height: 35px;
    font-size: 15px;
  }
  .page-up {
    bottom: 30px;
    right: 20px;
    width: 35px;
    height: 35px;
    font-size: 12px;
  }
}
