/* 
  font-family: "Outfit", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
*/

:root {
  --font-primary: "Outfit", sans-serif;
  --font-secondary: "Poppins", sans-serif;
  --primary-color: #E52333;
  --black-color: #1f2937;
  --sub-gray: #4b5563;
  --white-color: #ffffff;
  --gradient-color: #ff4b5c
}

/* Scrollbar Width */
::-webkit-scrollbar {
  width: 15px; 
}

/* Scrollbar Track */
::-webkit-scrollbar-track {
  background: linear-gradient(180deg, var(--black-color) 40%, #2d3748 100%);
  border-radius: 10px;
}

/* Scrollbar Thumb */
::-webkit-scrollbar-thumb {
  background: linear-gradient(135deg, var(--primary-color), var(--gradient-color));
  border-radius: 12px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease-in-out;
}

/* Scrollbar Thumb Hover Effect */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(135deg, var(--gradient-color), var(--primary-color));
  box-shadow: 0 0 8px rgba(229, 35, 51, 0.8);
  transform: scale(1.1);
}

/* Scrollbar Corner */
::-webkit-scrollbar-corner {
  background-color: var(--black-color);
}

a {
  text-decoration: none;
}

.highlighter {
  color: var(--primary-color);
}

* {
  margin: 0%;
  padding: 0%;
  font-family: var(--font-primary);
  box-sizing: border-box;
  color: var(--black-color);
}


/* NavBar */
/* ============================================================================ */
.navbar {
  background: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.navbar .logo-image {
  width: 140px;
}

/* Nav-Btn */
.navbar .nav-btn-demo {
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.5px;
  border: 2px solid var(--primary-color);
  transition: all 0.3s ease-in-out;
}

.navbar .nav-btn-demo:hover {
  background-color: var(--primary-color);
  color: var(--white-color);
  cursor: pointer;
}

.navbar .btn-demo {
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.5px;
  border: 2px solid var(--primary-color);
  transition: all 0.3s ease-in-out;
}

.navbar .btn-demo:hover {
  background-color: var(--primary-color);
  color: var(--white-color);
  cursor: pointer;
}

/* navbar-toggler-icon */
/* =============================== */
.navbar-toggler {
  border: none;
  background: transparent;
  padding: 0;
  outline: none;
}

.navbar-toggler:focus,
.navbar-toggler:active {
  outline: none;
  box-shadow: none;
}

.navbar-toggler .navbar-toggler-icon {
  color: red;
  background-color: red;
}

.navbar-toggler .navbar-toggler-icon {
  color: red;
  font-size: 22px;
}

.navbar-toggler-icon {
  background-image: none;
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  background-color: red;
  mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba%280, 0, 0, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba%280, 0, 0, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/* Menu */
/* link with dropdown */
.navbar-nav .nav-item .main-link:hover {
  color: var(--primary-color);
}

.navbar-nav .nav-item .main-link:hover i {
  color: var(--primary-color);
  transition: color 0.3s ease-in-out;
}

/* link without dropdown */
.navbar-nav .navigation-link {
  font-size: 17px;
  color: var(--black-color);
  transition: all 0.3s ease-in-out;
}

.navbar-nav .navigation-link:hover {
  color: var(--primary-color);
}

.navbar-nav .dropdown-menu {
  display: none;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  z-index: 1000;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  border: none;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2),
    inset 0 4px 6px rgba(255, 255, 255, 0.2);
}

/* enabling the drop down on the hover */
@media (min-width: 769px) {
  .navbar-nav .nav-item:hover .dropdown-menu {
    display: block;
    visibility: visible;
    opacity: 1;
  }
}

/* enable the dropn down on the click */
@media (max-width: 768px) {
  .navbar-nav .dropdown-menu {
    display: none;
    position: static;
    opacity: 1;
    visibility: visible;
    width: 100%;
  }

  .navbar-nav .dropdown-menu.show {
    display: block;
  }
}

.navbar-nav .dropdown-item {
  font-size: 16px;
  transition: all 0.2s ease-in-out;
  border-radius: 7px;
  padding: 8px 12px;
}

.navbar-nav .dropdown-item:hover {
  background-color: #faf0f0;
}

/* drop-down item list */
.navbar-nav .dropdown-item span {
  transition: all 0.2s ease-in-out;
}

.navbar-nav .dropdown-item:hover span {
  color: var(--primary-color);
}

/* drop-down Arrow Right fa-arrow-right */
.navbar-nav .dropdown-item .fa-arrow-right {
  opacity: 0;
  visibility: hidden;
  transform: translateX(-5px);
  transition: all 0.2s ease;
}

.navbar-nav .dropdown-item:hover .fa-arrow-right {
  opacity: 1;
  visibility: visible;
  transform: translateX(0px);
}

/* drop-down item icon list */
.navbar-nav .dropdown-item span i {
  transition: all 0.2s ease-in-out;
}

.navbar-nav .dropdown-item:hover span i {
  color: var(--primary-color);
}


/* Media Query - NavBar */
/* ============================================================================ */
@media screen and (max-width: 992px) {
  .navbar .btn-demo {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .navbar .navbar-container {
    padding: 0 8px;
  }
}


@media screen and (max-width: 576px) {
  .navbar .logo-image {
    width: 115px;
  }

  .navbar-nav .navigation-link {
    font-size: 16px;
  }
}


/* head-Banner */
/* ============================================================================ */
.head-Banner-wrapper {
  width: 100%;
}

.head-Banner-wrapper .head-Banner-container {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(Images/Category-1/banner.jpg) no-repeat center;
  background-size: cover;
  min-height: 400px;
  width: 100%;
  color: white;
  text-align: center;
  padding: 50px 20px;
  padding-top: 60px;
  padding-bottom: 40px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-top: 10px;
}

.head-Banner-wrapper .head-Banner-container .overlay-1 {
  background: url(Images/Category-1/overlay-1.png) no-repeat center;
  background-size: contain;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 1;
}

.head-Banner-wrapper .head-Banner-container .overlay-2 {
  background: url(Images/Category-1/overlay-2.png) no-repeat center;
  background-size: contain;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  opacity: 1;
}

.head-Banner-wrapper .banner-text,
.head-Banner-wrapper .banner-tagLine,
.head-Banner-wrapper .banner-desc {
  position: relative;
  z-index: 3;
}

.head-Banner-wrapper .banner-text {
  font-family: var(--font-secondary);
  font-size: 38px;
  font-weight: 400;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.head-Banner-wrapper .banner-text::before,
.head-Banner-wrapper .banner-text::after {
  content: "";
  width: 90px;
  height: 2px;
  background-color: var(--primary-color);
  display: inline-block;
  border-radius: 20px;
}

.head-Banner-wrapper .banner-tagLine {
  font-family: var(--font-secondary);
  font-size: 38px;
  font-weight: 600;
  color: var(--primary-color);
  text-transform: capitalize;
}

.head-Banner-wrapper .banner-desc {
  font-family: var(--font-primary);
  font-size: 22px;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 1.6;
}


/* Media Query - head-Banner */
/* ============================================================================ */
@media screen and (max-width: 992px) {
  .head-Banner-wrapper .head-Banner-container {
    padding-top: 80px;
  }

  .head-Banner-wrapper .banner-text {
    font-size: 36px;
  }

  .head-Banner-wrapper .banner-tagLine {
    font-size: 34px;
  }
}

@media screen and (max-width: 768px) {
  .head-Banner-wrapper .head-Banner-container {
    padding-top: 90px;
  }

  .head-Banner-wrapper .banner-text {
    font-size: 34px;
  }

  .head-Banner-wrapper .banner-tagLine {
    font-size: 30px;
  }

  .head-Banner-wrapper .banner-desc {
    font-size: 20px;
  }
}

@media screen and (max-width: 576px) {
  .head-Banner-wrapper .head-Banner-container {
    padding-top: 100px;
    padding-bottom: 45px;
    padding-right: 7px;
    padding-left: 7px;
    min-height: 350px;
  }

  .head-Banner-wrapper .banner-text {
    font-size: 24px;
  }

  .head-Banner-wrapper .banner-text::before,
  .head-Banner-wrapper .banner-text::after {
    content: "";
    width: 60px;
  }

  .head-Banner-wrapper .banner-tagLine {
    font-size: 24px;
  }

  .head-Banner-wrapper .banner-desc {
    font-size: 16px;
  }
}


/* Industry Card */
/* ============================================================================ */
.category-wrapper {
  width: 100%;
}

.category-wrapper h2 {
  font-size: 32px;
  font-weight: 500;
  color: var(--black-color);
}

.category-wrapper .section-card {
  padding: 4px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  border-radius: 12px;
  transition: all 0.3s ease-in-out;
}

.category-wrapper .section-card:hover {
  transform: translateY(1px);
}

.category-wrapper .section-card img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.category-wrapper .section-card .card-body {
  padding: 12px;
  padding-bottom: 16px;
}

.category-wrapper .section-card .card-body .card-title {
  padding-top: 8px;
  text-align: center;
  color: var(--primary-color);
  font-size: 22px;
}

.category-wrapper .section-card .card-body p {
  margin-bottom: 0px;
}


/* Media Query - Industry Card */
/* ============================================================================ */
@media screen and (max-width: 992px) {
  .category-wrapper .section-card .card-body .card-title {
    font-size: 20px;
  }
}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 576px) {
  .category-wrapper .section-card .card-body .card-title {
    font-size: 19px;
  }
  .category-wrapper h2 {
    font-size: 28px;
  }
}


/* Footer */
/* =============================================================== */
.footer-wrapper {
  width: 100%;
  background: #000;
}

.footer-wrapper .footer-container {
  padding: 60px 0px;
}

.footer-wrapper .section-heading {
  color: #efeff1;
  font-family: var(--font-primary);
  font-size: 40px;
  font-weight: 500;
  word-spacing: 5px;
}

.footer-wrapper .links {
  padding: 0 16px;
}

.footer-wrapper .links .link-heading {
  font-family: var(--font-secondary);
  color: #98D8EF;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 12px;
}

.footer-wrapper .links .link {
  font-size: 16px;
  list-style: none;
}

.footer-wrapper .links .link a {
  transition: all 0.2s ease-in-out;
  color: #efeff1;
}

.footer-wrapper .links .link a:hover {
  color: var(--primary-color);
}

.footer-wrapper .links .link i {
  transition: all 0.2s ease-in-out;
  color: #efeff1;
}

.footer-wrapper .links .link a:hover i {
  color: var(--primary-color);
}


/* Media Query - Footer */
/* =============================================================== */
@media screen and (max-width: 992px) {
  .footer-wrapper .section-heading {
    font-size: 40px;
  }
}

@media screen and (max-width: 768px) {
  .footer-wrapper .section-heading {
    font-size: 32px;
  }
}

@media screen and (max-width: 576px) {
  .footer-wrapper .footer-container {
    padding: 30px 0px;
  }

  .footer-wrapper .section-desc {
    font-size: 17px;
  }

  .footer-wrapper .links {
    padding: 0 14px;
  }
}


/* Request Demo */
/* ============================================================================ */
.requestDemo-Wrapper {
  width: 100%;
  background: #000;
}

.requestDemo-Wrapper .requestDemo-container {
  padding: 90px 0;
}

.requestDemo-Wrapper h1 {
  font-size: 50px;
  color: var(--white-color);
}

.requestDemo-Wrapper p {
  font-size: 20px;
  color: var(--primary-color);
  margin-bottom: 30px;
}

.requestDemo-Wrapper a {
  background-color: var(--white-color);
  color: var(--black-color);
  padding: 10px 12px;
  border-radius: 5px;
  font-size: 16px;
  transition: all 0.2s ease-in-out;
}

.requestDemo-Wrapper a:hover {
  background: var(--primary-color);
  color: #efeff1;
}


/* Request Demo - Media Query*/
/* ============================================================================ */
@media screen and (max-width: 1400px) {}

@media screen and (max-width: 992px) {}

@media screen and (max-width: 768px) {
  .requestDemo-Wrapper .requestDemo-container {
    padding: 50px 0;
  }

  .requestDemo-Wrapper h1 {
    font-size: 36px;
  }

  .requestDemo-Wrapper p {
    font-size: 18px;
  }
}

@media screen and (max-width: 576px) {
  .requestDemo-Wrapper h1 {
    font-size: 26px;
  }

  .requestDemo-Wrapper p {
    font-size: 17px;
  }

  .requestDemo-Wrapper a {
    font-size: 14px;
  }
}


/* Powered By */
/* =============================================================== */
.Powered-wrapper {
  width: 100%;
}

.Powered-wrapper .Powered-container {
  margin-top: 20px;
}

.Powered-wrapper .contact-info {
  padding: 40px 0;
}

.Powered-wrapper .info {
  text-align: center;
  margin-bottom: 30px;
}

.Powered-wrapper .info i {
  font-size: 30px;
  color: var(--primary-color);
}

.Powered-wrapper .info p {
  font-size: 20px;
  padding: 0%;
  margin-bottom: 8px;
}

.Powered-wrapper .info a {
  color: var(--black-color);
  transition: all 0.3s ease-in-out;
}

.Powered-wrapper .info a:hover {
  color: var(--primary-color);
}

.Powered-wrapper .newsletter {
  display: flex;
  align-items: center;
  border: 1px solid #333;
  border-radius: 25px;
  overflow: hidden;
  width: 95%;
  max-width: 300px;
  margin: 0 auto;
}

.Powered-wrapper .newsletter input {
  flex: 1;
  min-width: 0;
  padding: 10px;
  border: none;
  outline: none;
  font-size: 16px;
}

.Powered-wrapper .newsletter button {
  background-color: #333;
  color: white;
  border: none;
  padding: 15px 15px;
  /* border-top-left-radius: 10px;
  border-bottom-left-radius: 10px; */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  min-width: 40px;
}

.Powered-wrapper .newsletter button i {
  font-size: 16px !important;
}

.Powered-wrapper .newsletter button:hover {
  background-color: #1f2937;
}

.Powered-wrapper .logo-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Powered-wrapper .logo-container::after {
  content: "";
  display: inline-block;
  width: 90px;
  height: 3px;
  background-color: var(--primary-color);
  position: relative;
  top: -5px;
  margin-left: 20px;
}

.Powered-wrapper .logo-container::before {
  content: "";
  display: inline-block;
  width: 90px;
  height: 3px;
  background-color: var(--primary-color);
  position: relative;
  top: -5px;
  margin-right: 20px;
}

.Powered-wrapper .logo-container img {
  width: 150px;
}

.Powered-wrapper .social-media-icon a i {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

.Powered-wrapper .social-media-icon a i:hover {
  color: var(--primary-color);
}

.Powered-wrapper .copy-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
}

.Powered-wrapper .copy-right .p1 {
  padding: 0 10px;
}

.Powered-wrapper .copy-right .p1 a {
  color: var(--black-color);
  transition: all 0.2s ease-in-out;
}

.Powered-wrapper .copy-right .p1 a:hover {
  cursor: pointer;
  color: var(--primary-color);
}

/* Media Query - Powered By */
/* =============================================================== */
@media screen and (max-width: 992px) {}

@media screen and (max-width: 768px) {
  .Powered-wrapper .copy-right {
    flex-direction: column;
  }

  .Powered-wrapper .copy-right .copy {
    padding-bottom: 8px;
  }
}

@media screen and (max-width: 576px) {
  .Powered-wrapper .logo-container img {
    width: 115px;
  }

  .Powered-wrapper .logo-container::after,
  .Powered-wrapper .logo-container::before {
    width: 70px;
  }

  .Powered-wrapper .copy-right {
    padding: 15px 10px;
  }

  .Powered-wrapper .copy-right .p1 {
    padding: 0 3px;
  }
}


/* Page-Up */
/* =============================================================== */
.page-up {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transform: translateY(50px);
  border-radius: 50%;
  background-color: var(--black-color); 
  color: var(--white-color);
  cursor: pointer;
  z-index: 9999;
  transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
}

.page-up.show {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

.fa-angle-up {
  color: var(--white-color);
}


/* Media Query - Page-Up */
/* =============================================================== */
@media screen and (max-width: 992px){
  .page-up {
    width: 40px;
    height: 40px;
  }
}
@media screen and (max-width: 768px){}
@media screen and (max-width: 576px){
  .page-up {
    bottom: 10px;
    right: 10px;
    width: 35px;
    height: 35px;
    font-size: 12px;
  }
}


/* Chat-Bot */
/* =============================================================== */
/* Chatbot Container */
.chatbot-container {
  position: fixed;
  bottom: 75px;
  right: 20px;
  z-index: 1001;
}

.chatbot-toggle {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--white-color);
  color: var(--white-color);
  border: none;
  cursor: pointer;
  font-size: 20px;
  box-shadow: 3px 8px 12px rgba(0, 0, 0, 0.2);
  transition: all 0.4s ease-in-out;
  opacity: 0; 
  transform: scale(0.5);
}

.chatbot-window {
  width: 300px;
  background: var(--white-color);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  position: absolute;
  bottom: 60px;
  right: 0;
  display: none;
  flex-direction: column;
  border-radius: 15px;
  overflow: hidden;
}

/* Chatbot Header */
.chatbot-header {
  background: var(--black-color);
  opacity: 0.9;
  color: white;
  padding: 10px 12px;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
}

.chatbot-header span{
  color: var(--white-color);
  font-size: 17px;
}

.chatbot-header .chatbot-close{
  color: var(--white-color);
  font-size: 24px;
  cursor: pointer;
  background: none;
  border: none;
}

/* Chatbot-Message Container */
.chatbot-messages {
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 10px;
  display: flex;
  flex-direction: column;
  scrollbar-width: none; 
}

.chatbot-messages::-webkit-scrollbar {
  display: none; 
}

/* Chatbot-Messages */
.chatbot-message {
  padding: 5px 10px;
  margin: 4px;
  border-radius: 10px;
  font-size: 14px;
  max-width: 80%;
}

/* User Messages */
.chatbot-message.user {
  background: var(--primary-color);
  color: white;
  align-self: flex-end;
}

/* Bot Messages */
.chatbot-message.bot {
  background: #f1f1f1;
  color: black;
  align-self: flex-start;
}

/* Chat Input and Send Button */
.chatbot-footer {
  display: flex;
  border-top: 1.5px solid #ddd;
}

.chatbot-input {
  flex: 1;
  padding: 9px 12px;
  border: none;
}
.chatbot-input:focus{
  outline: none;
  border: none;
}

.chatbot-send {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  color: white;
  border: none;
  padding: 8px 14px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.chatbot-send i{
  color: var(--black-color);
  transition: all 0.3s ease-in-out;
}

.chatbot-send:hover i{
  color: var(--primary-color);
}


/* Media Query - Chat-Bot */
/* =============================================================== */
@media screen and (max-width: 992px){
  .chatbot-toggle {
    width: 40px;
    height: 40px;
  }
}
@media screen and (max-width: 768px){}
@media screen and (max-width: 576px){
  .chatbot-toggle {
    bottom: 10px;
    right: 0px;
    width: 35px;
    height: 35px;
    font-size: 15px;
  }
  .page-up {
    bottom: 30px;
    right: 20px;
    width: 35px;
    height: 35px;
    font-size: 12px;
  }
}
